page-splash {
    .content {
        background: black;
    }
    img {
        width: 100%;
        height: auto;
    }
    div {
        margin: 0 auto;
        text-align: center;
    }
    p {
        color: #57AD37;
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5em;
    }
}
